html{
    min-height: 100%;
}
body{
    font-family: 'Raleway', sans-serif;
    background-color: #FFFFFF;
    padding: 0px;
    margin: 0px;
    min-height: 100%;
}
#wrapper{
    display:block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}
#title {
    text-align: center;
}
#title h1 {
    margin: 0 0 0 0;
    padding: 10px 0 10px 0;
}
#title h3 {
    margin: 0;
    padding: 0 0 15px 0;
}
#board{
}
#board #life{
    display:block;
    border: 1px solid black;
    margin-left:auto;
    margin-right:auto;
}
#controlsTitle{
    width:496px;
    margin: 25px auto 5px auto;
}
#controls{
    width:496px;
    min-height: 100px;
    margin-right: auto;
    margin-left: auto;
    background-color: #e8e3e3;
}
#controls p {
    margin: 0;
}
#controls .section{
    display: block;
    margin-right: 10px;
}
#controls .section.buttons{
    float: left;
    margin-top: 23px;
    margin-left: 25px;
}
#controls .section.buttons .button {
    -moz-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
    box-shadow:inset 0px 1px 0px 0px #f7c5c0;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d));
    background:-moz-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
    background:-webkit-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
    background:-o-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
    background:-ms-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
    background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d',GradientType=0);
    background-color:#fc8d83;
    border:1px solid #d83526;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:18px 17px;
    text-decoration:none;
    text-shadow:0px 1px 0px #b23e35;
    min-width: 35px;
}
#controls .section.buttons .button:active {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #fc8d83));
    background:-moz-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background:-webkit-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background:-o-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background:-ms-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
    background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#fc8d83',GradientType=0);
    background-color:#e4685d;

}
#controls .section.sliders{
    margin-top: 10px;
    margin-right: 25px;
    float: right;
}
.noselect {
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -khtml-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
 }
