html{
    min-height: 100%;
}
body{
    font-family: 'Raleway', sans-serif;
    background-color: #FFFFFF;
    padding: 0px;
    margin: 0px;
    min-height: 100%;
}
#wrapper{
    display:block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}
#title {
    text-align: center;
}
#title h1 {
    margin: 0 0 0 0;
    padding: 10px 0 10px 0;
}
#title h3 {
    margin: 0;
    padding: 0 0 15px 0;
}
#board{
}

#life{
    display:block;
    border: 1px solid black;
    margin-left:auto;
    margin-right:auto;
}
#controlsTitle{
    width:496px;
    margin: 25px auto 5px auto;
}
#controls{
    width:496px;
    min-height: 75px;
    margin-right: auto;
    margin-left: auto;
    padding: 5px;
    background-color: #e8e3e3;
}
#controls p {
    margin: 0;
}
.section{
    display: block;
    float:left;
    margin-right: 10px;
}
.section.buttons{
    padding-top: 5px;
    margin-right: 20px;
    margin-left: 15px;
}
.section.buttons button {
    padding: 5px;
    margin: 5px;
}
